<div class="featured_in">
    <div class="container">
        <div class="featured_inn_wrp">
            <div class="featured_heading heading">
                {% if section.settings.title != blank %}
                    <h6>
                        {{section.settings.title}}
                    </h6>
                {% endif %}
            </div>
            <div class="featured_slider">
                {% for block in section.blocks %}
                    <div class="block_image_item">
                        {% if block.settings.block_image != blank %}
                            <img src="{{block.settings.block_image | img_url: 'master' }}" alt="">
                        {% endif %}
                    </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Featured In",
  "class": "featured_in",
  "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            }
  ],
  "blocks": [
        {
          "name": "Block Content",
          "type": "blockContent",
          "settings": [
            {
              "type": "image_picker",
              "id": "block_image",
              "label": "Block Image"
            }
          ]
        }
      ],
  "presets": [
    {
      "name": "Featured In",
      "category": "Custom"
    }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}