<div class="featured_article_slider">
  <div class="page-width">
    <div class="featured_article_wrp">
      <div class="featured_article_heading heading">
        {% if section.settings.title != blank %}
          <h2>
            {{ section.settings.title }}
          </h2>
        {% endif %}
        {% if section.settings.content != blank %}
          <p>
            {{ section.settings.content }}
          </p>
        {% endif %}
      </div>
      <div class="featured_article_mn_slider">
        <div class="blog-articles blog-articles-slider">
          {%- for article in blog.articles -%}
            <div class="blog-articles__article article">
              <div
                id="Slide-{{ section.id }}-{{ forloop.index }}"
                class="blog__post grid__item article slider__slide slider__slide--full-width"
              >
                {% render 'article-card',
                  blog: section.settings.blog,
                  article: article,
                  media_aspect_ratio: 1.66,
                  show_image: section.settings.show_image,
                  show_date: section.settings.show_date,
                  show_author: section.settings.show_author,
                  show_excerpt: true
                %}
              </div>
            </div>
          {%- endfor -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Featured Article Slider",
  "class": "featured_article_slider",
  "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "textarea",
              "id": "content",
              "label": "Content"
            }
  ],
  "blocks": [
        {
          "name": "Block Content",
          "type": "blockContent",
          "settings": [
            {
              "type": "image_picker",
              "id": "block_image",
              "label": "Block Image"
            },
            {
              "type": "text",
              "id": "title",
              "label": "Title"
            },
            {
              "type": "textarea",
              "id": "content",
              "label": "Content"
            },
            {
              "type": "text",
              "id": "button_label",
              "label": "Button Label"
            },
            {
              "type": "url",
              "id": "button_link",
              "label": "Button Link"
            }
          ]
        }
      ],
  "presets": [
    {
      "name": "Featured Article Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}
{% javascript %}
{% endjavascript %}
